// Spacing

$spacer: 5px;

$xxs-space: .5 * $spacer;
$xs-space: 1 * $spacer;
$sm-space: 2 * $spacer;
$md-space: 4 * $spacer;
$lg-space: 5 * $spacer;
$xl-space: 10 * $spacer;
$xxl-space: 20 * $spacer;

$border-size: 1.5px;